img {
	width: 75%;
	height: auto;
	max-width: 340px;
}

p {
	padding: 0;
	margin: 0;
}

body {
	font-family: 'Indie Flower', cursive;
	font-size: 22px;
	color: black;
}

.btn-custom {
  .button-variant(@btn-default-color; @btn-default-bg; @btn-default-border);
}

.btn-custom :active, .btn-custom :hover{
	background-color: #FFF;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
    box-shadow: none;
}

.down{
	margin-top: 50px;
}

.col-lg-4 p {
	text-align: right;
}

.container{
	max-width: 1100px !important;
}

.footer {
	font-size: 0.5em;
	font-family: helvetica, arial;
}

.jumbotron{
	background-color: #FFF;
}

.container .jumbotron{
	padding: 1em;
	margin-bottom: 0;
}

.jumbotron p {
	font-size: 26px;
	margin-bottom: 0;
}

#upgrades{
	height: 20em;
}

#upgrades ul{
	list-style: none;
	list-style-type: none;
	padding: 0;
	margin: 0;
}

#upgrades ul li p {
	font-size: 0.6em;
	display: inline-block;
	float: right;
	clear: right;
}

#upgrades ul li span {
	font-size: 0.8em;
	display: inline-block;
	float: left;
	clear: left;
}

#upgrades ul li{
	cursor: pointer;
}

#upgrades button{
	font-size: 0.6em;
	display: inline;
	float: left;
	border-color: black;
	background-color: #FFF;
}

#upgrades button :active, button :focus{
		-moz-box-shadow: none;
	-webkit-box-shadow: none;
    box-shadow: none;
}

.btn-toolbar p {
	font-size: 0.5em;
}

#saveoptions{
	clear:both;
	margin-top: 10px;
}

.topleft{
	-webkit-border-top-left-radius: 0px;
	-moz-border-top-left-radius: 0px;
	border-top-left-radius: 0px;
}

.topright{
	-webkit-border-top-right-radius: 0px;
	-moz-border-top-right-radius: 0px;
	border-top-right-radius: 0px;
	border-left-width: 0px;
}

.bottomright{
	-webkit-border-bottom-right-radius: 0px;
	-moz-border-bottom-right-radius: 0px;
	border-bottom-right-radius: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
}

.bottomleft{
	-webkit-border-bottom-left-radius: 0px;
	-moz-border-bottom-left-radius: 0px;
	border-bottom-left-radius: 0px;
	border-bottom-width: 0px;
}

#messages{
	height: 3em;
}
#exp_needed{
	margin-top: -0.3em;
}

.border{
	border-width: 25px 16px;
	-o-border-image: url(../img/border.png)  48 33 37 33 stretch stretch;
	-icab-border-image: url(../img/border.png) 48 33 37 33 stretch stretch;
	-khtml-border-image: url(../img/border.png) 48 33 37 33 stretch stretch;
	-moz-border-image: url(../img/border.png) 48 33 37 33 stretch stretch;
	-web-kit-border-image: url(../img/border.png) 48 33 37 33 stretch stretch;
	border-image: url(../img/border.png) 48 33 37 33 stretch stretch;
	border-style: solid;
}

#target_pokemon_img{
	float: right;
}

progress {  
    border: 0.1em solid;
	background-color: white;
	border-radius: 20px; 
	color: white;
}  

progress span {
	color: white;
}

progress::-webkit-progress-bar {  
    border: 0.1em solid;
	background-color: white;
	border-radius: 20px;
}  

progress::-webkit-progress-value {  
	background-color: black;
	border-radius: 20px;
}

progress::-moz-progress-bar {
	background-color: black;  
	border-radius: 20px;
}  




.target {
	float: right;
	clear: both;
}



#train_button{
	font-size: 1.4em;
	background-color: white;
	color: black;
	height: 3em;
}

#train_button:active{
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
    box-shadow: none;
}

@keyframes attack {
  0% {
  	 -moz-transform:translate(0px 0px);
  	 transform:translate(0px 0px);
  }
  50% {
     -moz-transform:translate(60px);
     transform:translate(60px);
  }
  100% {
  	 -moz-transform:translate(0px 0px);
  	 transform:translate(0px 0px);
  }
}

@-webkit-keyframes attack {
  0% {
  	 -webkit-transform:translate(0px 0px);
  }
  50% {
     -webkit-transform:translate(60px);
  }
  100% {
  	 -webkit-transform:translate(0px 0px);
  }
}

.attack {
  -moz-animation-duration:400ms;
  -moz-animation-iteration-count:infinite;
  -moz-animation-name:attack;

  -webkit-animation-duration:400ms;
  -webkit-animation-iteration-count:infinite;
  -webkit-animation-name:attack;

  animation-duration:400ms;
  animation-iteration-count:infinite;
  animation-name: attack;
}

@keyframes hit {
  0% {
   -moz-transform:translate(0px);
   transform:translate(0px);
  }
  50% {
    -moz-transform:translate(20px);
    -moz-transform:rotate(30deg);
    transform:translate(20px);
  }
  100% {
    -moz-transform:translate(0px);
    -webkit-transform:translate(0px);
    transform:translate(0px);
  }
}

@-webkit-keyframes hit {
  0% {
   -webkit-transform:translate(0px);
  }
  50% {
    -webkit-transform:translate(10px 10px);
    -webkit-transform:rotate(10deg);
  }
  100% {
    -webkit-transform:translate(0px);
  }
}


.hit{
	-moz-animation-duration: 200ms;
	-moz-animation-iteration-count:2;
	-moz-animation-play-state:running;
	-moz-animation-name:hit;

	-webkit-animation-duration: 200ms;
	-webkit-animation-iteration-count:2;
	-webkit-animation-play-state:running;
	-webkit-animation-name:hit;

	animation-duration: 200ms;
	animation-iteration-count:2;
	animation-play-state:running;
	aninmation-name:hit;
};


@keyframes fadeout {
	0%{
		opacity: 1;
	}

	100%{
		opacity: 0;
	}
};

@-webkit-keyframes fadeout {
	0%{
		opacity: 1;
	}

	100%{
		opacity: 0;
	}
}

/* Styles for other devices */
@media (min-width: 1200px) { 
	body {
		font-size:26px;
	};
};